span.head-sidebar-tab-item {
  border-radius: 10px  !important;
  background-color: #434343  !important;
}

ul li span {
  border-radius: 10px  !important;
  margin-top: -8px  !important;
}

li.sidebar-tab-item.disabled {
  border-radius: 10px  !important;
}

div.subject {
  margin-top: -2px  !important;
  border-radius: 10px  !important;
  background-color: #434343  !important;
}

div.nb-content.col-xs-9 {
  border-radius: 10px  !important;
  background-color: gray  !important;
  color: white  !important;
}

div.nb-circle {
  background-color: gray  !important;
}

a.navbar-brand {
  background-color: #434343  !important;
}

ul li a {
  background-color: #434343  !important;
  border-radius: 10px  !important;
  color: white  !important;
  margin-bottom: 3px  !important;
}

div.navbar-collapse.collapse {
  background-color: #434343  !important;
}

div.navbar-header {
  background-color: #434343  !important;
}

div.navbar {
  background-color: #434343  !important;
}

nav.navbar {
  background-color: #434343  !important;
}

div.row {
  margin-bottom: 3px  !important;
  border-radius: 10px  !important;
}

#layout_organizationName {
  color: black  !important;
}

div.selectTanev {
  color: black  !important;
  margin-left: 100px  !important;
}

div.main-footer2 {
  background-color: #666666  !important;
  color: white  !important;
}

div.a {
  border-radius: 10px  !important;
}

a.dropdown-toggle {
  border-radius: 10px  !important;
}

li.nav-header.red {
  color: white  !important;
}

ul.dropdown-menu.megamenu.row {
  background-color: gray  !important;
  border-top-left-radius: 0px  !important;
  border-top-right-radius: 0px  !important;
}

input.k-button.k-button-icontext {
  border-radius: 8px  !important;
}

button.k-button.k-button-icontext {
  border-radius: 5px  !important;
  background-color: #666666  !important;
  margin-top: 5px  !important;
  margin-bottom: 5px  !important;
}

ul.dropdown-menu {
  background-color: gray  !important;
  margin-top: -10px  !important;
  border-width: 10px  !important;
  border-color: gray  !important;
  border-radius: 10px  !important;
}

div.content-content {
  padding-top: 10px  !important;
  padding-bottom: 10px  !important;
}

div.main-content {
  border-radius: 10px  !important;
}

button.fc-prev-button.fc-button.fc-state-default.fc-corner-left {
  margin-top: 10px  !important;
}

button.fc-next-button.fc-button.fc-state-default.fc-corner-right {
  margin-top: 10px  !important;
}

button.fc-today-button.fc-button.fc-state-default.fc-corner-right {
  margin-top: 10px  !important;
}

button.fc-agendaDay-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
  margin-top: 10px  !important;
}

button.fc-workWeek-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-active {
  margin-top: 10px  !important;
}

button.fc-workWeekWithSaturday-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
  margin-top: 10px  !important;
}

button.fc-agendaWeek-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
  margin-top: 10px  !important;
}

button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.nfs {
  margin-top: 10px  !important;
}

th.fc-widget-header.fc-tue.fc-day-header-today {
  background-color: #434343  !important;
}

.fc-day-header-today {
  background-color: #434343  !important;
  color: #fff  !important;
}

a.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end {
  background-color: #666666  !important;
  border-color: black  !important;
  border-width: 1.5px  !important;
}

div.fc-title {
  margin-top: 2px  !important;
}

button.fc-workWeek-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
  margin-top: 10px  !important;
}

button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fs {
  margin-top: 10px  !important;
}

div.col-xs-12.main.faliujsagLista {
  border-radius: 10px  !important;
}

hr.timeline {
  margin-left: -10px  !important;
}

div.timelinesphere {
  margin-left: -10px  !important;
}

ul.k-reset.k-tabstrip-items {
  background-color: white  !important;
}

button.k-button {
  border-radius: 5px  !important;
  background-color: #666666  !important;
  color: white  !important;
  border-color: #666666  !important;

}

li.k-item.k-state-default.k-last {
  padding-left: 3px  !important;
  background-color: white  !important;
  border-color: white  !important;
}

li.k-item.k-state-default {
  background-color: white  !important;
  border-color: white  !important;
}

div.k-widget.k-window {
  border-radius: 10px  !important;
  border-width: 3px  !important;
  border-color: #666666  !important;
}

span.k-window-title {
  background-color: #434343  !important;
  border-radius: 10px  !important;
  padding-left: 20px  !important;
}

div.k-window-titlebar.k-header {
  background-color: #434343  !important;
  border-color: #434343  !important;
  border-radius: 5px  !important;
  border-bottom-right-radius: 30px  !important;
  border-bottom-left-radius: 30px  !important;
}

div.k-window-actions {
  background-color: #434343  !important;
  border-radius: 10px  !important;
}

div.k-widget.k-panelbar {
  border-radius: 10px  !important;
}

div.fc-bg2 {
  background-color: orangered  !important;
}

button#Btn-cancel.k-button.ignore-ajaxhelper {
  color: white  !important;
}

div.panel.panel-primary {
  border-color: #666666  !important;
}

div.panel-heading {
  background-color: #434343  !important;
  border-color: #434343  !important;
}

span.k-link {
  color: black  !important;
  border-radius: 10px  !important;
  margin-top: 0px  !important;
  padding-right: 5px  !important;
  padding-left: 10px  !important;
}

a.k-calendar k-state-hover k-header {
  color: #fff  !important;
  background-color: #474747  !important;
  border-color: #474747  !important;
}

a.k-link.k-nav-today {
  color: black  !important;
}

div.k-header {
  border-radius: 10px  !important;
  padding-top: 3px  !important;
  border-color: #474747  !important;
}

span.k-label.kendoGrid-PageInfo.mustShowPagerCount {
  color: white
}

a.k-link.k-nav-fast.k-state-hover {
  background-color: #666666  !important;
  padding-left: 10px  !important;
  padding-right: 10px  !important;
  border-radius: 10px  !important;
  border-color: #666666  !important;
}
a.k-link.k-nav-prev.k-state-hover {
  background-color: #666666  !important;
  padding-left: 10px  !important;
  padding-right: 10px  !important;
  border-radius: 10px  !important;
  border-color: #666666  !important;
}
a.k-link.k-nav-next.k-state-hover {
  background-color: #666666  !important;
  padding-left: 10px  !important;
  padding-right: 10px  !important;
  border-radius: 10px  !important;
  border-color: #666666  !important;
}

a.k-link {
  color: black  !important;
}

td.k-today {
  background-color: #666666  !important;
}

li.k-item.k-state-focused.k-state-hover {
  background-color: #666666  !important;
}

li.k-item.k-state-focused {
  background-color: #474747  !important;
}
div.k-widget.k-header.k-tabstrip.k-floatwrap.k-tabstrip-top {
  background-color: white  !important;
  width: 100%  !important;
}

a.k-window-action.k-link {
  background-color: #434343  !important;
  border-radius: 10px  !important;
}

button.k-button.ignore-ajaxhelper {
  border-color: #474747  !important;
  border-width: 2px  !important;
  color: white !important;
  margin-top: 10px !important;
}

li.k-item.k-state-default.k-first.k-tab-on-top.k-state-active {
  padding-left: 15px  !important;
  }

li.k-item.k-state-default.k-last.k-tab-on-top.k-state-active {
  padding-left: 15px  !important;
}

li.k-item.k-state-default.k-first {
  padding-left: 3px  !important;

  border-style: solid !important;
  border-radius: 10px !important;
  border-color: gray !important;
  border-width: 3px !important;
  margin-top: 10px !important;
  margin-left: 3px !important;
  width: 190px !important;
  background-color: lightgray !important;
}

li.k-item.k-state-default.k-last {
  padding-left: 3px  !important;

  border-style: solid !important;
  border-radius: 10px !important;
  border-color: gray !important;
  border-width: 3px !important;
  margin-top: 10px !important;
  margin-left: 3px !important;
  width: 190px !important;
  background-color: lightgray !important;
}

div.main-header.clearfix.container-fluid.main-header {
  padding-bottom: 10px  !important;
}

div.usermenu {
  padding-top: 15px  !important;
}

button.k-button.kendoGrid-Next.k-link.k-pager-nav {
  background-color: lightgray  !important;
  border-width: 0px  !important;
  padding-top: 7px  !important;
}

button.k-button.kendoGrid-Back.k-link.k-pager-nav.k-state-disabled {
  background-color: gray  !important;
  border-width: 0px  !important;
  padding-top: 7px  !important;
}

button.k-button.kendoGrid-Back.k-link.k-pager-nav {
  background-color: lightgray  !important;
  border-width: 0px  !important;
  padding-top: 7px  !important;
}

button.k-button.kendoGrid-Next.k-link.k-pager-nav.k-state-disabled {
  background-color: gray  !important;
  border-width: 0px  !important;
  padding-top: 7px  !important;
}

span.k-dropdown-wrap.k-state-default {
  background-color: lightgray  !important;
}

li#cc1ebff8-d3be-4cad-aa5e-e125cf8f8456 {
  background-color: #474747  !important;
}

span.k-header {
  border-color: #474747  !important;
}

td.atlag.kozepre {
  font-weight: bold !important;
  font-size: 13px !important;
}

p {
  background-color: #808080 !important;
  border-radius: 10px !important;
}

#usermenu_timer {
  background-color: transparent !important;
}