span.head-sidebar-tab-item {
  border-radius: 10px !important;
  background-color: #434343 !important;
}

ul li span {
  border-radius: 10px !important;
  margin-top: -8px !important;
}

li.sidebar-tab-item.disabled {
  border-radius: 10px !important;
}

div.subject {
  margin-top: -2px !important;
  border-radius: 10px !important;
  background-color: #434343 !important;
}

div.nb-content.col-xs-9 {
  border-radius: 10px !important;
  background-color: gray !important;
  color: white !important;
}

div.nb-circle {
  background-color: gray !important;
}

a.navbar-brand {
  background-color: #434343 !important;
}

ul li a {
  background-color: #434343 !important;
  border-radius: 10px !important;
  color: white !important;
  margin-bottom: 3px !important;
}

div.navbar-collapse.collapse {
  background-color: #434343 !important;
}

div.navbar-header {
  background-color: #434343 !important;
}

div.navbar {
  background-color: #434343 !important;
}

nav.navbar {
  background-color: #434343 !important;
}

div.row {
  margin-bottom: 3px !important;
}

#layout_organizationName {
  color: black !important;
}

div.selectTanev {
  color: black !important;
  margin-left: 100px !important;
}

div.main-footer2 {
  background-color: #666666 !important;
  color: white !important;
}

div.a {
  border-radius: 10px !important;
}

a.dropdown-toggle {
  border-radius: 10px !important;
}

ul.dropdown-menu.megamenu.row {
  background-color: #999999 !important;
}

input.k-button.k-button-icontext {
  border-radius: 8px !important;
}

button.k-button.k-button-icontext {
  border-radius: 5px !important;
  background-color: #666666 !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

ul.dropdown-menu {
  background-color: #999999 !important;
  margin-top: -5px !important;
}

div.content-content {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

div.main-content {
  border-radius: 10px !important;
}

button.fc-prev-button.fc-button.fc-state-default.fc-corner-left {
  margin-top: 10px !important;
}

button.fc-next-button.fc-button.fc-state-default.fc-corner-right {
  margin-top: 10px !important;
}

button.fc-today-button.fc-button.fc-state-default.fc-corner-right {
  margin-top: 10px !important;
}

button.fc-agendaDay-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
  margin-top: 10px !important;
}

button.fc-workWeek-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-active {
  margin-top: 10px !important;
}

button.fc-workWeekWithSaturday-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
  margin-top: 10px !important;
}

button.fc-agendaWeek-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
  margin-top: 10px !important;
}

button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.nfs {
  margin-top: 10px !important;
}

th.fc-widget-header.fc-tue.fc-day-header-today {
  background-color: #434343 !important;
}

.fc-day-header-today {
  background-color: #434343 !important;
  color: #fff !important;
}

a.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end {
  background-color: #666666 !important;
  border-color: black !important;
  border-width: 1.5px !important;
}

div.fc-title {
  margin-top: 2px !important;
}

button.fc-workWeek-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
  margin-top: 10px !important;
}

button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fs {
  margin-top: 10px !important;
}

div.col-xs-12.main.faliujsagLista {
  border-radius: 10px !important;
}

hr.timeline {
  margin-left: -10px !important;
}

div.timelinesphere {
  margin-left: -10px !important;
}

ul.k-reset.k-tabstrip-items {
  background-color: white !important;
}

button.k-button {
  border-radius: 5px !important;
  background-color: #666666 !important;
}

li.k-item.k-state-default.k-last {
  background-color: white !important;
  border-color: white !important;
}

li.k-item.k-state-default {
  background-color: white !important;
  border-color: white !important;
}

div.k-widget.k-window {
  border-radius: 10px !important;
  border-width: 3px !important;
  border-color: #666666 !important;
}

span.k-window-title {
  background-color: #434343 !important;
  border-radius: 10px !important;
}

div.k-window-titlebar.k-header {
  background-color: #434343 !important;
  border-color: #434343 !important;
  border-radius: 5px !important;
  border-width: 10px !important;
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

a.k-window-action.k-link {
  background-color: #434343 !important;
  border-radius: 15px !important;
}

div.k-window-actions {
  background-color: #434343 !important;
  border-radius: 10px !important;
}

div.k-widget.k-panelbar {
  border-radius: 10px !important;
}

